@model IEnumerable<ProjetoEventos.Models.Decoracao>

@{
    ViewData["Title"] = "Eventopia";
}

<h1>Lista de Decoração</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DecoracaoTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemDecoracao1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemDecoracao2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemDecoracao3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DecoracaoTipo)
            </td>
            <td>
                <img src="@item.ImagemDecoracao1" style="height:100px;width:100px;">
            </td>
            <td>
                <img src="@item.ImagemDecoracao2" style="height:100px;width:100px;">
            </td>
            <td>
                <img src="@item.ImagemDecoracao3" style="height:100px;width:100px;">
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
