@model IEnumerable<ProjetoEventos.Models.TotalPagar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeConvidados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buffet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeConvidados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decoracao.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buffet.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEvento.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
