@model IEnumerable<ProjetoEventos.Models.TotalPagar>

@{
    ViewData["Title"] = "Eventopia";
}

<h1>Lista de Evento</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
<div>
    @using (Html.BeginForm("Index", "TotalPagar", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeConvidados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decoracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buffet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeConvidados)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Local.LocalNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Decoracao.DecoracaoTipo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Buffet.BuffetTipo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TipoEvento.EventoTipo )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
