@model IEnumerable<ProjetoEventos.Models.Local>

@{
    ViewData["Title"] = "Eventopia";
}

<h1>Lista de Local</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalNome)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.ImagemLocal1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemLocal2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemLocal3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalNome)
            </td>
            <td>
                 <img src="@item.ImagemLocal1" style="height:110px;width:116px;border-radius:4px;">
            </td>
            <td>
                 <img src="@item.ImagemLocal2" style="height:110px;width:116px;border-radius:4px;">
            </td>
            <td>
                 <img src="@item.ImagemLocal3" style="height:110px;width:116px;border-radius:4px;">
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                 <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
